[submodule "Lambix/thirdParty/imgui"]
	path = Lambix/thirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Lambix/thirdParty/glm"]
	path = Lambix/thirdParty/glm
	url = https://github.com/g-truc/glm.git
